@mixin select-theme-variables($theme) {
  @each $name, $value in $theme {
    --select-#{$name}: #{$value};
  }
}

$select-light-theme: (
  text: #2f2f2f,
);

$select-dark-theme: (
  text: #eaeaea,
);

[data-select-appearance='light'] {
  @include select-theme-variables($select-light-theme);
}

[data-select-appearance='dark'] {
  @include select-theme-variables($select-dark-theme);
}
