@mixin seeker-theme-variables($theme) {
  @each $name, $value in $theme {
    --seeker-#{$name}: #{$value};
  }
}

$seeker-light-theme: (
  header-focused: #fdfdfd,
  header-unfocused: #f2f2f2,
  sidebar-unfocused: #f2f2f2,
  sidebar-border: #d5d4d4,
  sidebar-title-focused: #8c8a8d,
  sidebar-title-unfocused: #a3a3a3,
  sidebar-label-focused: #4a494b,
  sidebar-label-unfocused: #a2a2a2,
  sidebar-item-active-focused: #cfcfcf,
  sidebar-item-active-unfocused: #d6d6d6,
  header-title-focused: #4c4c4c,
  header-title-unfocused: #b0b0b0,
  tabbar-focused: #f0f0f0,
  tabbar-unfocused: #e3e3e3,
  tab-active-focused: #fdfdfd,
  tab-active-unfocused: #f2f2f2,
  tab-inactive-focused: #f0f0f0,
  tab-inactive-focused-hover: #e3e3e3,
  tab-inactive-unfocused: #e3e3e3,
  tab-inactive-unfocused-hover: #d6d6d6,
  tab-add-focused: #f0f0f0,
  tab-add-focused-hover: #e3e3e3,
  tab-add-focused-active: #cac9c9,
  tab-add-unfocused: #e3e3e3,
  tab-add-unfocused-hover: #d6d6d6,
  tab-active-text-focused: #2f2f2f,
  tab-active-text-unfocused: #a0a0a0,
  tab-inactive-text-focused: #2f2f2f,
  tab-inactive-text-unfocused: #a0a0a0,
  tab-add-icon-focused: #6b6b6b,
  tab-add-icon-unfocused: #a8a8a8,
  tab-divider-focused: #dedede,
  tab-divider-unfocused: #d1d1d1,
  tabbar-top-inner-shadow-focused: inset 0 1px 0 0 rgba(205, 205, 205, 0.45)#{","} inset 0 2px 0 0 rgba(221, 221, 221, 0.22)#{","} inset 0 3px 0 0 rgba(240, 240, 240, 0),
  tabbar-top-inner-shadow-unfocused: inset 0 1px 0 0 rgba(191, 191, 191, 0.45)#{","} inset 0 2px 0 0 rgba(211, 211, 211, 0.22)#{","} inset 0 3px 0 0 rgba(227, 227, 227, 0),
  tab-close-hover-active-tab: #e3e2e2,
  tab-close-active-active-tab: #d5d4d5,
  tab-close-hover-inactive-tab: #b5b4b4,
  tab-close-active-inactive-tab: #8a8989,
  tab-close-icon-focused: #808080,
  tab-close-icon-hover-focused: #666666,
  tab-close-icon-active-focused: #595959,
  tab-close-icon-unfocused: #b8b8b8,
  tab-close-icon-hover-unfocused: #9a9a9a,
  tab-close-icon-active-unfocused: #878787,
  list-row-light: #ffffff,
  list-row-dark: #f4f5f5,
  list-name-text: #3b3b3d,
  list-metadata-text: #858585,
  list-selected-unfocused: #dcdbdc,
  tab-bottom-border: #d9d9d9,
  list-header-bottom-border: #f0f0f0,
);

$seeker-dark-theme: (
  header-focused: #363636,
  header-unfocused: #282828,
  sidebar-unfocused: #282828,
  sidebar-border: #000000,
  sidebar-title-focused: #696969,
  sidebar-title-unfocused: #696969,
  sidebar-label-focused: #eae9ea,
  sidebar-label-unfocused: #696969,
  sidebar-item-active-focused: #434243,
  sidebar-item-active-unfocused: #424142,
  header-title-focused: #eaeaea,
  header-title-unfocused: #696969,
  tabbar-focused: #1e1e1e,
  tabbar-unfocused: #2e2e2e,
  tab-active-focused: #363636,
  tab-active-unfocused: #282828,
  tab-inactive-focused: #1e1e1e,
  tab-inactive-focused-hover: #2e2e2e,
  tab-inactive-unfocused: #161616,
  tab-inactive-unfocused-hover: #222222,
  tab-add-focused: #1e1e1e,
  tab-add-focused-hover: #2e2e2e,
  tab-add-focused-active: #343434,
  tab-add-unfocused: #161616,
  tab-add-unfocused-hover: #222222,
  tab-active-text-focused: #ffffff,
  tab-active-text-unfocused: #696969,
  tab-inactive-text-focused: #9a9a9a,
  tab-inactive-text-unfocused: #575757,
  tab-add-icon-focused: #9a9a9a,
  tab-add-icon-unfocused: #575757,
  tab-divider-focused: #474747,
  tab-divider-unfocused: #393939,
  tabbar-top-inner-shadow-focused: inset 0 1px 0 0 #000000,
  tabbar-top-inner-shadow-unfocused: inset 0 1px 0 0 #000000,
  tab-close-hover-active-tab: #595959,
  tab-close-active-active-tab: #777777,
  tab-close-hover-inactive-tab: #595959,
  tab-close-active-inactive-tab: #777777,
  tab-close-icon-focused: #adadad,
  tab-close-icon-hover-focused: #adadad,
  tab-close-icon-active-focused: #ffffff,
  tab-close-icon-unfocused: #adadad,
  tab-close-icon-hover-unfocused: #adadad,
  tab-close-icon-active-unfocused: #ffffff,
  list-row-light: #1e1e1e,
  list-row-dark: #292929,
  list-name-text: #ffffff,
  list-metadata-text: #858585,
  list-selected-unfocused: #454546,
  tab-bottom-border: #000000,
  list-header-bottom-border: #2d2d2d,
);

[data-seeker-appearance='light'] {
  @include seeker-theme-variables($seeker-light-theme);
}

[data-seeker-appearance='dark'] {
  @include seeker-theme-variables($seeker-dark-theme);
}
